Repository feds01/durachok: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: oxlint
            name: oxlint
            entry: pnpm oxlint --fix
            language: system
            types_or: [javascript, jsx, ts, tsx]
            pass_filenames: true

          - id: oxfmt
            name: oxfmt
            entry: pnpm oxfmt
            language: system
            types_or: [javascript, jsx, ts, tsx, json]
            pass_filenames: true

          - id: typecheck
            name: typecheck
            entry: pnpm turbo check
            language: system
            types_or: [ts, tsx]
            pass_filenames: false

chore: update dependencies to resolve security alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Deps
  apps/server/package.json
  package.json
  packages/transport/package.json
  pnpm-lock.yaml
Due: oxfmt

Switch to using `tsgo` for type checking and generation
  apps/server/package.json
  apps/server/src/models/archive.model.ts
  apps/web/package.json
  package.json
  packages/engine/package.json
  packages/engine/tsconfig.json
  packages/transport/package.json
  packages/transport/tsconfig.json
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

Add auto-assign reviewer workflow
  .github/workflows/auto-assign-reviewer.yml
Due: none

Add auto-assign reviewer workflow
  .github/workflows/auto-assign-reviewer.yml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/spellright.dict
  .vscode/tasks.json
  public/fonts/README.md
  public/fonts/fa-brands-400.eot
  public/fonts/fa-brands-400.svg
  public/fonts/fa-brands-400.ttf
  public/fonts/fa-brands-400.woff
  public/fonts/fa-brands-400.woff2
  public/fonts/fa-regular-400.eot
  public/fonts/fa-regular-400.svg
  public/fonts/fa-regular-400.ttf
  public/fonts/fa-regular-400.woff
  public/fonts/fa-regular-400.woff2
  public/fonts/fa-solid-400.woff2
  public/fonts/fa-solid-900.eot
  public/fonts/fa-solid-900.svg
  public/fonts/fa-solid-900.ttf
  public/fonts/fa-solid-900.woff
  public/fonts/fa-solid-900.woff2
Due: oxfmt

Add auto-assign reviewer workflow
  .github/workflows/auto-assign-reviewer.yml
  .gitignore
Due: none

fix(auto-assign): pass --repo to gh pr edit
  .github/workflows/auto-assign-reviewer.yml
Due: none

fix(auto-assign): oxfmt-format the workflow file
  .github/workflows/auto-assign-reviewer.yml
Due: none

build(deps): bump mongoose from 9.1.6 to 9.9.3
  apps/server/package.json
  apps/server/src/models/lobby.model.ts
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

build(deps): bump mongoose from 9.1.6 to 9.9.3 (#431)
  apps/server/package.json
  apps/server/src/models/lobby.model.ts
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

build(deps): clear all Dependabot alerts
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

build(deps): clear all Dependabot alerts (#432)
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: oxfmt

security: clear the open vitest and browserslist advisories
  package.json
  packages/engine/package.json
  pnpm-lock.yaml
Due: oxfmt

security: clear the open vitest and browserslist advisories (#439)
  package.json
  packages/engine/package.json
  pnpm-lock.yaml
Due: oxfmt

deps(web): align the TanStack router cluster
  apps/web/package.json
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

deps(web): align the TanStack router cluster (#440)
  apps/web/package.json
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

build(deps): link workspace packages via workspace:*
  apps/server/package.json
  apps/web/package.json
  packages/engine/package.json
  pnpm-lock.yaml
Due: oxfmt

build(deps): link workspace packages via workspace:*; import Integration from zod-sockets/integration
  apps/server/package.json
  apps/server/src/interface/socket/generate-client.ts
  apps/web/package.json
  packages/engine/package.json
  pnpm-lock.yaml
Due: oxlint, oxfmt, typecheck

build(deps): align @trpc/server and @trpc/react-query to 11.19.0; link workspace packages via workspace:*
  apps/server/package.json
  apps/web/package.json
  packages/engine/package.json
  pnpm-lock.yaml
Due: oxfmt

build(deps): bump react and @types/react to 19.3.0
  apps/web/package.json
  pnpm-lock.yaml
Due: oxfmt

security: override engine.io to ^6.6.10
  package.json
  pnpm-lock.yaml
Due: oxfmt

security: override engine.io to ^6.6.10 (#446)
  package.json
  pnpm-lock.yaml
Due: oxfmt
